/* Estilos para o formulário */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.form-title {
    margin-bottom: 20px;
    text-align: center;
}

.order-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.submit-btn {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

@media print {
    body {
        width: 100%;
        margin: 0;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact; /* Suporte adicional */
        transform: scale(1); /* Garante que a escala seja 100% */
        transform-origin: top left; /* Define a origem da transformação */
    }
    section.content {
        background-color: #aaaaaa;
        padding-left: 165px;
    }
    button {
        display: none;
    }
}

.limpar {
    height: 35px;
    margin-top: 25px;
    background-color: rgb(116, 27, 58);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}