/* Estilos para o cabeçalho */
header {
    margin-top: 30px;
    display: flex;
    height: 250px;
    border-top: 12px solid rgb(116, 27, 58);
    border-bottom: 12px solid rgb(116, 27, 58);
}

img {
    width: 280px;
    height: 180px;
    margin-left: 60px;
    margin-top: 45px;
}

.logo {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
}

h2 {
    background-color: lightblue;
    width: 485px;
    font-size: 27px;
    margin-top: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 200px;
    margin-left: 100px;
    padding-top: 35px;
}

h3 {
    text-align: center;
    justify-content: center;
}

.number {
    width: 800px;
    height: 70px;
    background-color: rgba(170, 166, 166, 0.442);
    margin-top: 60px;
    text-align: center;
}

@media print {
    body {
        width: 100%;
        margin: 0;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact; /* Suporte adicional */
        transform: scale(1); /* Garante que a escala seja 100% */
        transform-origin: top left; /* Define a origem da transformação */
    }
    section.content {
        background-color: #aaaaaa;
        padding-left: 165px;
    }
    button {
        display: none;
    }
}